.container {
  list-style-type: none;
  counter-reset: post-index;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}
