.container {
  max-width: 1000px;
  background-color: var(--white);
  border-radius: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  animation: var(--entrance) 0.5s 0.1s both;
  box-shadow: var(--shadow);
}

.title {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  margin-top: 10px;
  color: var(--main-color);
}

.subTitle {
  text-align: center;
  font-size: 1em;
  font-style: italic;
  margin: 10px;
}

.dualContainer {
  display: block;
}

@media (min-width: 1000px) {
  .dualContainer {
    display: flex;
    flex-direction: row-reverse;
  }

  .columnContainer {
    width: 50%;
  }
}

.listTitle {
  background-color: var(--main-color);
  color: var(--white);
  text-align: center;
  font-size: 1.5em;
}

.picture {
  width: 100%;
  mask-image: linear-gradient(to bottom, transparent 0%, black 100px);
}
