.button {
  align-self: flex-start;
  box-shadow: var(--shadow);
  padding: 10px;
  text-decoration: none;
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  border-radius: 10px;
  background-color: var(--white);
  color: var(--main-color);
}

.pdf {
  width: 1.2em;
}
