.container {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}

.container > li {
  display: flex;
  text-align: center;
  flex-direction: column;
  box-shadow: var(--shadow);
  width: 130px;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
}

@media (max-width: 500px) {
  .container > li {
    width: 100px;
  }
}

.bonusInfo {
  font-size: 0.8em;
  font-style: italic;
}

.flag {
  height: 5em;
}
